<div class="flex flex-col justify-center items-center text-center min-h-screen px-6 bg-white">
  <h1 class="text-5xl font-bold mb-6">Charamite</h1>
  <p class="text-lg text-yellow-900 mb-4">
    Charamite(きゃらみて)は、自分で創作したキャラクターを<br>
    より魅力的に公開するためのサイトです。
  </p>
  <p class="text-yellow-900 mb-8">
    出来上がったら、SNSなどで公開して、キャラを見てもらうことができます。<br>
    一次創作からゲーム制作、TRPGプレイヤーまで幅広く自由に利用できます。
  </p>
  <%= link_to "公開ページを作ってみる！", "#", class: "border border-black rounded-full px-8 py-3 font-bold hover:bg-black hover:text-white transition-colors duration-300" %>
</div>
